.ct-section {
    width: 100%;
    background-size: cover;
    background-repeat: repeat;
}

.ct-section>.ct-section-inner-wrap {
    display: flex;
    flex-direction: column;

    /* align-items: flex-start */
}

.ct-div-block {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
}

.ct-new-columns {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
}

.ct-link-text {
    display: inline-block;
}

.ct-link {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ct-link-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.ct-link-button {
    background-color: #1e73be;
    border: 1px solid #1e73be;
    color: #ffffff;
    padding: 10px 16px;
}

.ct-image {
    max-height: 100%;
    max-width: 100%;
}

.ct-fancy-icon>svg {
    width: 55px;
    height: 55px;
}

.ct-inner-content {
    width: 100%;
}

.ct-slide {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ct-nestable-shortcode {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
}

.oxy-comments {
    width: 100%;
    text-align: left;
}

.oxy-comment-form {
    width: 100%;
}

.oxy-login-form {
    width: 100%;
}

.oxy-search-form {
    width: 100%;
}

.oxy-tabs-contents {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
}

.oxy-tab {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
}

.oxy-tab-content {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
}

.oxy-testimonial {
    width: 100%;
}

.oxy-icon-box {
    width: 100%;
}

.oxy-pricing-box {
    width: 100%;
}

.oxy-posts-grid {
    width: 100%;
}

.oxy-gallery {
    width: 100%;
}

.ct-slider {
    width: 100%;
}

.oxy-tabs {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
}

.ct-span {
    display: inline-block;
    text-decoration: inherit;
}

.ct-widget {
    width: 100%;
}

.ct-columns {
    position: relative;
}

.ct-ul {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.oxy-testimonial {
    flex-direction: row;
    align-items: center;
}

.oxy-testimonial .oxy-testimonial-photo-wrap {
    order: 1;
}

.oxy-testimonial .oxy-testimonial-photo {
    width: 125px;
    height: 125px;
    margin-right: 20px;
}

.oxy-testimonial .oxy-testimonial-photo-wrap,
.oxy-testimonial .oxy-testimonial-author-wrap,
.oxy-testimonial .oxy-testimonial-content-wrap {
    align-items: flex-start;
    text-align: left;
}

.oxy-testimonial .oxy-testimonial-text {
    margin-bottom: 8px;
    font-size: 21px;
    line-height: 1.4;
    -webkit-font-smoothing: subpixel-antialiased;
}

.oxy-testimonial .oxy-testimonial-author {
    font-size: 18px;
    -webkit-font-smoothing: subpixel-antialiased;
}

.oxy-testimonial .oxy-testimonial-author-info {
    font-size: 12px;
    -webkit-font-smoothing: subpixel-antialiased;
}

.oxy-icon-box {
    text-align: left;
    flex-direction: column;
}

.oxy-icon-box .oxy-icon-box-icon {
    margin-bottom: 12px;
    align-self: flex-start;
}

.oxy-icon-box .oxy-icon-box-heading {
    font-size: 21px;
    margin-bottom: 12px;
}

.oxy-icon-box .oxy-icon-box-text {
    font-size: 16px;
    margin-bottom: 12px;
    align-self: flex-start;
}

.oxy-icon-box .oxy-icon-box-link {
    margin-top: 20px;
}

.oxy-pricing-box .oxy-pricing-box-section {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    alignment: center;
    text-align: center;
}

.oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-price {
    justify-content: center;
}

.oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-graphic {
    justify-content: center;
}

.oxy-pricing-box .oxy-pricing-box-title-title {
    font-size: 48px;
}

.oxy-pricing-box .oxy-pricing-box-title-subtitle {
    font-size: 24px;
}

.oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-price {
    flex-direction: row;
}

.oxy-pricing-box .oxy-pricing-box-currency {
    font-size: 28px;
}

.oxy-pricing-box .oxy-pricing-box-amount-main {
    font-size: 80px;
    line-height: 0.7;
}

.oxy-pricing-box .oxy-pricing-box-amount-decimal {
    font-size: 13px;
}

.oxy-pricing-box .oxy-pricing-box-term {
    font-size: 16px;
}

.oxy-pricing-box .oxy-pricing-box-sale-price {
    font-size: 12px;
    color: rgba(0,0,0,0.5);
    margin-bottom: 20px;
}

.oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-content {
    font-size: 16px;
    color: rgba(0,0,0,0.5);
}

.oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-cta {
    justify-content: center;
}

.oxy-progress-bar .oxy-progress-bar-background {
    background-color: #000000;
    background-image: linear-gradient(-45deg,rgba(255,255,255,.12) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.12) 50%,rgba(255,255,255,.12) 75%,transparent 75%,transparent);
    animation: none 0s paused;
}

.oxy-progress-bar .oxy-progress-bar-progress-wrap {
    width: 85%;
}

.oxy-progress-bar .oxy-progress-bar-progress {
    background-color: #66aaff;
    padding: 40px;
    animation: none 0s paused,none 0s paused;
    background-image: linear-gradient(-45deg,rgba(255,255,255,.12) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.12) 50%,rgba(255,255,255,.12) 75%,transparent 75%,transparent);
}

.oxy-progress-bar .oxy-progress-bar-overlay-text {
    font-size: 30px;
    font-weight: 900;
    -webkit-font-smoothing: subpixel-antialiased;
}

.oxy-progress-bar .oxy-progress-bar-overlay-percent {
    font-size: 12px;
}

.ct-slider .unslider-nav ol li {
    border-color: #ffffff;
}

.ct-slider .unslider-nav ol li.unslider-active {
    background-color: #ffffff;
}

.ct-slider .ct-slide {
    padding: 0px;
}

.oxy-superbox .oxy-superbox-secondary,
.oxy-superbox .oxy-superbox-primary {
    transition-duration: 0.5s;
}

body {
    font-family: 'Open Sans';
    line-height: 1.6;
    font-size: 16px;
    font-weight: 400;
    color: #404040;
}

.oxy-nav-menu-hamburger-line {
    background-color: #404040;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro';
    font-size: 36px;
    font-weight: 700;
}

h2,
h3,
h4,
h5,
h6 {
    font-size: 30px;
}

h3,
h4,
h5,
h6 {
    font-size: 24px;
}

h4,
h5,
h6 {
    font-size: 20px;
}

h5,
h6 {
    font-size: 18px;
}

h6 {
    font-size: 24px;

    /* color: #ffffff */
}

a {
    color: #404040;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.ct-link-text {
    text-decoration: ;
}

.ct-link {
    text-decoration: ;
}

.ct-link-button {
    font-weight: 600;
    border-radius: 30px;
}

.ct-section-inner-wrap {
    padding-top: 75px;
    padding-right: 20px;
    padding-bottom: 75px;
    padding-left: 20px;
}

.oxy-header-container {
    padding-right: 20px;
    padding-left: 20px;
}

@media (max-width:992px){
    .ct-columns-inner-wrap {
        display: block !important;
    }

    .ct-columns-inner-wrap:after {
        display: table;
        clear: both;
        content: "";
    }

    .ct-column {
        width: 100% !important;
        margin: 0 !important;
    }

    .ct-columns-inner-wrap {
        margin: 0 !important;
    }
}

.atomic-subheading {
    font-family: 'Source Sans Pro';
    font-size: 24px;
    line-height: 1.4;
    font-weight: 300;
    max-width: 700px;
    margin-bottom: 0px;
    color: #000000;
}

@media (max-width:768px){
    .atomic-subheading {
    }
}

.atomic-secondary-heading {
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-size: 50px;
    line-height: 1.1;
    color: #000000;
    margin-bottom: 82px;
}

@media (max-width:1120px){
    .atomic-secondary-heading {
        font-size: 60px;
    }
}

@media (max-width:768px){
    .atomic-secondary-heading {
        font-size: 44px;
    }
}

.atomic-primary-button:hover {
    background-color: #32667d;
}

.atomic-primary-button {
    font-family: 'Source Sans Pro';
    background-color: #ff8e00;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 1px;
}

@media (max-width:992px){
    .atomic-primary-button {
        padding-top: 16px;
        padding-left: 36px;
        padding-right: 36px;
        padding-bottom: 16px;
        font-size: 16px;
    }
}

.atomic-outline-button:hover {
    background-color: transparent;
    color: #6799b2;
    border-top-color: #6799b2;
    border-right-color: #6799b2;
    border-bottom-color: #6799b2;
    border-left-color: #6799b2;
}

.atomic-outline-button {
    background-color: transparent;
    border: 1px solid #6799b2;
    color: #6799b2;
    padding: 9px 15px;
}

.atomic-outline-button {
    font-weight: 700;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 3px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-color: #65bec2;
    border-right-color: #65bec2;
    border-bottom-color: #65bec2;
    border-left-color: #65bec2;
    padding-left: 46px;
    padding-right: 46px;
    padding-top: 18px;
    padding-bottom: 18px;
    color: #65bec2;
    background-color: transparent;
    font-size: 20px;
    margin-right: 2px;
}

@media (max-width:992px){
    .atomic-outline-button {
        font-size: 16px;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-right: 34px;
        padding-left: 34px;
    }
}

@media (max-width:480px){
    .atomic-outline-button {
    }
}

.atomic-pricing-4-title {
    color: #ff8e00;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 0.5px;
    margin-bottom: 8px;
}

.atomic-pricing-4-icon {
    color: #ff8e00;
}

.atomic-pricing-4-icon >svg {
    width: 30px;
    height: 30px;
}

.atomic-pricing-4-icon {
    margin-bottom: 16px;
}

.atomic-pricing-4-text {
    color: #2b2c28;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    line-height: 1.4;
    margin-bottom: 24px;
    margin-top: 10px;
}

.atomic-pricing-4-cost {
    color: #ff8e00;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.5px;
    margin-top: auto;
}

.atomic-pricing-4-small-text {
    color: rgba(153,153,153,0.5);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    text-align: left;
    margin-bottom: 30px;
}

.atomic-content-26-image {
}

.atomic-content-26-title {
    color: #566d8f;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 0.5px;
    margin-bottom: 12px;
}

.atomic-content-26-text {
    font-family: 'Source Sans Pro';
    font-size: 18px;
    line-height: 1.4;
    color: #000000;
    text-align: justify;
    font-weight: 300;
}

.atomic-content-26-columns {
    margin-bottom: 31px;
}

.atomic-primary-heading {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.1;
    margin-top: 0px;
    color: #000000;
    margin-bottom: 55px;
}

@media (max-width:768px){
    .atomic-primary-heading {
        font-size: 54px;
    }
}

.atomic-showcase-3-image {
    margin-bottom: 18px;
    overflow: hidden;
}

.atomic-showcase-3-title {
    color: #262626;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 0.5px;
    margin-bottom: 6px;
    text-align: left;
}

.atomic-showcase-3-column {
}

.atomic-showcase-3-column:not(.ct-section),
.atomic-showcase-3-column.ct-section .ct-section-inner-wrap {
    display: flex;
    flex-direction: column;
}

.atomic-showcase-3-small-text {
    font-size: 16px;
    font-weight: 400;
    color: #404040;
    line-height: 1.4;
}

.atomic-small-button:hover {
    background-color: #6799b2;
}

.atomic-small-button {
    background-color: #65bec2;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    padding-right: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.2;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: greyscale;
    text-align: center;
    padding-left: 18px;
}

.atomic-content-30-wrapper {
    width: 100%;
    text-align: center;
}

.atomic-content-30-wrapper:not(.ct-section),
.atomic-content-30-wrapper.ct-section .ct-section-inner-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.atomic-content-30-popup:hover {
    opacity: 1;
}

.atomic-content-30-popup {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: rgba(86,109,143,0.8);
    width: 100%;
    text-align: center;
    opacity: 0;
}

.atomic-content-30-popup:not(.ct-section),
.atomic-content-30-popup.ct-section .ct-section-inner-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.atomic-content-30-column {
    text-align: center;
    margin-left: 0px;
    padding-left: 157px;
}

.atomic-content-30-column:not(.ct-section),
.atomic-content-30-column.ct-section .ct-section-inner-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.atomic-content-30-text {
    color: #000000;
    font-size: 21px;
    font-weight: 600;
    line-height: 1.4;
    margin-top: 28px;
}

.hyperion-subheading {
    font-family: 'Open Sans';
    color: #e96199;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 4px;
    line-height: 1.1;
}

@media (max-width:992px){
    .hyperion-subheading {
        font-size: 20px;
    }
}

.hyperion-body-text {
    font-family: 'Open Sans';
    font-size: 20px;
    color: #52565a;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: greyscale;
}

.hyperion-heading-two {
    font-family: 'Source Sans Pro';
    color: #ffffff;
    font-weight: 900;
    font-size: 120px;
    line-height: 1;
}

@media (max-width:992px){
    .hyperion-heading-two {
        font-size: 96px;
    }
}

@media (max-width:768px){
    .hyperion-heading-two {
        font-size: 72px;
    }
}

@media (max-width:480px){
    .hyperion-heading-two {
        font-size: 60px;
    }
}

.hyperion-tesimonial-1-slide {
    font-family: 'Source Sans Pro';
    padding-left: 24px;
    padding-top: 48px;
    padding-right: 24px;
    padding-bottom: 24px;
    height: 300px;
    width: 100%;
    margin-right: 0px;
    text-align: left;
}

.hyperion-tesimonial-1-slide:not(.ct-section),
.hyperion-tesimonial-1-slide.ct-section .ct-section-inner-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

@media (max-width:992px){
    .hyperion-tesimonial-1-slide {
    }

    .hyperion-tesimonial-1-slide:not(.ct-section),
    .hyperion-tesimonial-1-slide.ct-section .ct-section-inner-wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

@media (max-width:768px){
    .hyperion-tesimonial-1-slide {
        text-align: center;
    }

    .hyperion-tesimonial-1-slide:not(.ct-section),
    .hyperion-tesimonial-1-slide.ct-section .ct-section-inner-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:480px){
    .hyperion-tesimonial-1-slide {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 12px;
        padding-bottom: 0px;
        height: 100%;
    }
}

.hyperion-testimonial-1-text {
    font-family: '';
    font-size: 30px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: greyscale;
}

@media (max-width:768px){
    .hyperion-testimonial-1-text {
        font-size: 24px;
    }
}

.hyperion-testimonial-1-title {
    font-family: 'Open Sans';
    color: #e96199;
    font-size: 30px;
    font-weight: 900;
    line-height: 1;
    margin-right: 18px;
}

@media (max-width:768px){
    .hyperion-testimonial-1-title {
        margin-right: 0px;
        margin-bottom: 12px;
        margin-top: auto;
    }
}

.hyperion-testimonial-1-image {
    width: 96px;
    border-radius: 30px;
    margin-right: 18px;
}

@media (max-width:768px){
    .hyperion-testimonial-1-image {
        margin-right: 0px;
        margin-bottom: 18px;
    }
}

.hyperion-testimonial-1-name {
    font-family: 'Source Sans Pro';
    color: #23232d;
    font-size: 20px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 1px;
    margin-bottom: 6px;
}

.hyperion-testimonial-1-wrapper {
    text-align: left;
}

.hyperion-testimonial-1-wrapper:not(.ct-section),
.hyperion-testimonial-1-wrapper.ct-section .ct-section-inner-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (max-width:768px){
    .hyperion-testimonial-1-wrapper {
        text-align: center;
    }

    .hyperion-testimonial-1-wrapper:not(.ct-section),
    .hyperion-testimonial-1-wrapper.ct-section .ct-section-inner-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:480px){
    .hyperion-testimonial-1-wrapper {
        text-align: center;
    }

    .hyperion-testimonial-1-wrapper:not(.ct-section),
    .hyperion-testimonial-1-wrapper.ct-section .ct-section-inner-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.atomic-hero-9-column {
    text-align: center;
}

.atomic-hero-9-column:not(.ct-section),
.atomic-hero-9-column.ct-section .ct-section-inner-wrap {
    display: block;
    flex-direction: unset;
    align-items: center;
}

@media (max-width:992px){
    .atomic-hero-9-column {
    }

    .atomic-hero-9-column:not(.ct-section),
    .atomic-hero-9-column.ct-section .ct-section-inner-wrap {
        flex-direction: unset;
    }
}

.atomic-hero-9-video {
    width: 50%;
    float: left;
    margin-bottom: 12px;
}

@media (max-width:992px){
    .atomic-hero-9-video {
        width: 100%;
    }
}

.atomic-hero-9-text {
    color: rgba(153,153,153,0.5);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    text-align: left;
    margin-left: 55%;
}

@media (max-width:992px){
    .atomic-hero-9-text {
        margin-left: 0px;
    }
}

.atomic-content-19-column {
    text-align: center;
    padding-right: 23px;
}

.atomic-content-19-column:not(.ct-section),
.atomic-content-19-column.ct-section .ct-section-inner-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width:992px){
    .atomic-content-19-column {
    }
}

.atomic-content-19-image:hover {
}

.atomic-content-19-image {
    max-width: 75%;
    max-height: 60px;
}

@media (max-width:992px){
    .atomic-content-19-image {
        max-width: 100%;
        max-height: 60px;
    }
}

.atomic-content-20-image:hover {
}

.atomic-content-20-image {
    background-color: #ffffff;
    box-shadow: 0px 20px 40px rgba(0,0,0,0.1);
}

.atomic-medium-button:hover {
    background-color: #6799b2;
}

.atomic-medium-button {
    background-color: #65bec2;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    padding-top: 15px;
    padding-right: 36px;
    padding-left: 36px;
    padding-bottom: 15px;
    letter-spacing: 2px;
    text-align: center;
}

.atomic-iconblock-5-column {
    text-align: center;
}

.atomic-iconblock-5-column:not(.ct-section),
.atomic-iconblock-5-column.ct-section .ct-section-inner-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.atomic-iconblock-5-icon {
    color: #566d8f;
}

.atomic-iconblock-5-icon >svg {
    width: 69px;
    height: 69px;
}

.atomic-iconblock-5-icon {
    icon-padding: 29px;
    margin-bottom: 16px;
}

.atomic-iconblock-5-title {
    font-size: 20px;
    color: #566d8f;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 0.5px;
    margin-bottom: 8px;
}

.atomic-iconbox-5-text {
    font-size: 20px;
    font-weight: 400;
    color: #2b2c28;
    line-height: 1.4;
    margin-bottom: 16px;
    margin-top: 0px;
}

.atomic-small-text {
    color: rgba(153,153,153,0.5);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
}

.atomic-tritary-heading {
    color: #2b2c28;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.1;
}

@media (max-width:768px){
    .atomic-tritary-heading {
        font-size: 30px;
    }
}

.atomic-content-27-checklist-wrapper {
    width: 100%;
    margin-bottom: 18px;
}

.atomic-content-27-checklist-wrapper:not(.ct-section),
.atomic-content-27-checklist-wrapper.ct-section .ct-section-inner-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.atomic-content-27-icon {
    color: #65bec2;
}

.atomic-content-27-icon >svg {
    width: 24px;
    height: 24px;
}

.atomic-content-27-icon {
    color: #65bec2;
    margin-right: 6px;
}

.atomic-content-27-text {
    color: #2b2c28;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}

.atomic-hero-12-columns {
}

@media (max-width:992px){
    .atomic-hero-12-columns {
        text-align: left;
    }

    .atomic-hero-12-columns:not(.ct-section),
    .atomic-hero-12-columns.ct-section .ct-section-inner-wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width:768px){
    .atomic-hero-12-columns {
        text-align: center;
    }

    .atomic-hero-12-columns:not(.ct-section),
    .atomic-hero-12-columns.ct-section .ct-section-inner-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.atomic-hero-12-icon {
    color: #566d8f;
}

.atomic-hero-12-icon >svg {
    width: 30px;
    height: 30px;
}

.atomic-hero-12-icon {
    margin-bottom: 12px;
}

.atomic-hero-12-title {
    font-size: 20px;
    font-weight: 600;
    color: #566d8f;
    line-height: 1.1;
    letter-spacing: 0.5px;
    margin-bottom: 12px;
}

.atomic-hero-12-text {
    color: #2b2c28;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
}

.atomic-showcase-8-wrapper {
    width: 100%;
    text-align: left;
    padding-left: 19px;
    padding-right: 16px;
    padding-bottom: 21px;
    background-color: #ffffff;
    padding-top: 11px;
    box-shadow: 0px 20px 40px rgba(0,0,0,0.1);
}

.atomic-showcase-8-wrapper:not(.ct-section),
.atomic-showcase-8-wrapper.ct-section .ct-section-inner-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

@media (max-width:768px){
    .atomic-showcase-8-wrapper {
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
    }
}

@media (max-width:480px){
    .atomic-showcase-8-wrapper {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }
}

.atomic-showcase-8-image {
}

.atomic-showcase-8-title {
    font-size: 20px;
    color: #566d8f;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 0.5px;
    margin-bottom: 6px;
    margin-top: 9px;
}

.atomic-showcase-8-small-text {
    font-size: 12px;
    color: rgba(153,153,153,0.5);
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 7px;
}

.atomic-showcase-8-text {
    color: #2b2c28;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 13px;
    margin-top: 0px;
}

.atomic-iconblock-17-icon {
    color: #566d8f;
}

.atomic-iconblock-17-icon >svg {
    width: 30px;
    height: 30px;
}

.atomic-iconblock-17-icon {
    height: 30px;
    margin-bottom: 7px;
}

.atomic-iconblock-17-title {
    font-size: 20px;
    font-weight: 600;
    color: #566d8f;
    line-height: 1.1;
    letter-spacing: 0.5px;
    margin-bottom: 8px;
    margin-top: 0px;
}

.atomic-iconblock-17-text {
    font-size: 18px;
    color: #2b2c28;
    font-weight: 400;
    margin-bottom: 27px;
    line-height: 1.4;
}

.Button1:hover {
    cursor: pointer;
}

.Button1 {
    background-color: #33cc00;
    border: 1px solid #33cc00;
    color: #ffffff;
    padding: 10px 16px;
}

.Button1 {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: 30px;
    margin-top: 13px;
}

.Button2 {
    background-color: #ff8e00;
    border: 1px solid #ff8e00;
    color: #ffffff;
    padding: 10px 16px;
}

.Button2 {
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.h1 {
    font-size: 43px;
    text-align: left;
    line-height: 1.2;
    color: #000000;
    margin-bottom: 18px;
}

.h2 {
    color: #000000;
    font-size: 78px;
    line-height: 1;
}

.h3 {
    font-size: 23px;
    color: #000000;
    margin-top: 0px;
}

.card {
    width: 100%;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 11px 44px 6px rgba(175,175,175,0.34);
}

.card:not(.ct-section),
.card.ct-section .ct-section-inner-wrap {
    display: flex;
    flex-direction: column;
}

@media (max-width:992px){
    .card {
        text-align: center;
        margin-bottom: 34px;
    }

    .card:not(.ct-section),
    .card.ct-section .ct-section-inner-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:768px){
    .card {
        text-align: center;
        margin-top: 23px;
    }

    .card:not(.ct-section),
    .card.ct-section .ct-section-inner-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.toc:hover {
    color: #ffa947;
}

.toc {
    color: #ffffff;
    font-weight: 600;
}

.h9 {
    font-size: 22px;
}

.more-link {
    color: #ff8e00;
}

.toolbox-text {
    margin-top: 10px;
    margin-bottom: 35px;
}

.about-text {
    margin-bottom: 25px;
}

#_header_row-80-4 {
    padding-right: 10px;
    background-color: #ffffff;
    padding-bottom: 0px;
}

.sign-in {
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: #404040;
}

#_nav_menu-15-4 .oxy-nav-menu-hamburger-line {
    height: 2px;
    background-color: #404040;
}

#_nav_menu-15-4 .oxy-nav-menu-hamburger {
    width: 20px;
    height: 14px;
}

#_nav_menu-15-4 .oxy-nav-menu-hamburger-wrap {
    width: 20px;
    height: 20px;
}