#section-2-14 > .ct-section-inner-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-2-14 {
    text-align: center;
}

#section-230-14 > .ct-section-inner-wrap {
    max-width: 100%;
    padding-top: 45px;
    padding-right: 0;
    padding-bottom: 3px;
    padding-left: 0;
}

#section-230-14 {
    background-size: contain;
    background-repeat: no-repeat;
}

#section-5-14 > .ct-section-inner-wrap {
    padding-top: 118px;
    padding-bottom: 54px;
}

#section-169-14 > .ct-section-inner-wrap {
    padding-top: 81px;
    padding-bottom: 126px;
}

#section-107-14 > .ct-section-inner-wrap {
    max-width: 100%;
    padding-top: 3px;
    padding-bottom: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-107-14 {
    text-align: center;
    background-color: #eff4f7;
}

#section-90-4 > .ct-section-inner-wrap {
    padding-top: 0;
    padding-bottom: 12px;
}

#section-90-4 {
    background-color: #1e73be;
}

#div_block-46-4 {
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
    text-align: justify;
    display: flex;
    justify-content: flex-start;
}

#div_block-12-14 {
    align-items: center;
    width: 100%;
    padding-bottom: 0px;
    height: 200px;
    font-size: 50px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Source Sans Pro';
    color: #000000;
}

#div_block-106-14 {
    font-family: 'Permanent Marker';
}

#div_block-6-14 {
    width: 100%;
    align-items: center;
    text-align: center;
    flex-direction: column;
    display: flex;
}

#div_block-232-14 {
    width: 50%;
    max-width: 560px;
    padding-left: 40px;
    padding-right: 40px;
    order: 1;
    justify-content: center;
}

#div_block-237-14 {
    width: 50%;
    order: 2;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    overflow: hidden;
    justify-content: center;
    padding-bottom: 0px;
}

#div_block-245-14 {
    width: 50.00%;
    padding-left: 0px;
    padding-top: 92px;
    padding-right: 0px;
    overflow: hidden;
    justify-content: space-around;
    text-align: left;
    align-items: flex-end;
    background-color: #ffffff;
    padding-bottom: 59px;
}

#div_block-240-14 {
    width: 50.00%;
    max-width: 560px;
    padding-top: 71px;
    padding-left: 40px;
    padding-right: 40px;
    order: 1;
    justify-content: center;
    padding-bottom: 55px;
}

#div_block-54-14 {
    width: 100%;
    align-items: flex-start;
    text-align: left;
    padding-left: 29px;
    margin-bottom: 5px;
}

#div_block-34-14 {
    width: 100.00%;
}

#div_block-63-14 {
    width: 30.00%;
}

#div_block-64-14 {
    width: 70%;
}

#div_block-74-14 {
    width: 33.33%;
    margin-right: 0px;
    padding-top: 1px;
    height: 100%;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 1px;
}

#div_block-87-14 {
    overflow: hidden;
    height: 130px;
}

#div_block-83-14 {
    padding-left: 10px;
    padding-right: 12px;
    flex-direction: column;
    display: flex;
    text-align: left;
}

#div_block-75-14 {
    width: 33.33%;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
}

#div_block-89-14 {
    overflow: hidden;
    height: 130px;
    justify-content: center;
}

#div_block-91-14 {
    padding-left: 10px;
    padding-right: 12px;
}

#div_block-76-14 {
    width: 33.34%;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 8px;
    padding-right: 8px;
}

#div_block-96-14 {
    overflow: hidden;
    width: 100%;
    height: 130px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#div_block-98-14 {
    padding-left: 10px;
    padding-right: 12px;
}

#div_block-171-14 {
    width: 40%;
}

#div_block-201-14 {
    width: 60.00%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#div_block-202-14 {
    width: 100%;
    flex-direction: row;
    display: flex;
    overflow: visible;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 21px;
}

#div_block-209-14 {
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#div_block-211-14 {
    width: 50%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#div_block-218-14 {
    width: 100%;
    flex-direction: row;
    display: flex;
    overflow: visible;
    max-height: 100px;
    padding-bottom: 0px;
}

#div_block-219-14 {
    width: 50%;
    padding-right: 7px;
    padding-left: 8px;
}

#div_block-221-14 {
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
}

#div_block-121-14 {
    width: 15%;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-right: 31px;
    padding-left: 26px;
}

#div_block-125-14 {
    width: 15%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#div_block-123-14 {
    width: 15%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-right: 0px;
    padding-left: 0px;
}

#div_block-156-14 {
    width: 10.00%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 14px;
    padding-right: 8px;
    padding-left: 0px;
}

#div_block-152-14 {
    width: 15%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#div_block-150-14 {
    width: 15%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-right: 0px;
    padding-left: 0px;
}

#div_block-154-14 {
    width: 15%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    /* padding-right: 40px */
    /* padding-left: 41px */
}

#div_block-161-11 {
    align-items: stretch;
    text-align: justify;
    width: 100%;
}

#div_block-136-11 {
    width: 10%;
    justify-content: flex-start;
}

#div_block-137-11 {
    width: 40%;
    flex-direction: column;
    display: flex;
    text-align: left;
    margin-left: 0px;
    padding-left: 87px;
}

#div_block-138-11 {
    width: 50.00%;
    justify-content: center;
}

@media (max-width:992px){
    #div_block-12-14 {
        font-size: 45px;
    }
}

@media (max-width:992px){
    #div_block-232-14 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (max-width:992px){
    #div_block-240-14 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (max-width:768px){
    #div_block-232-14 {
        order: 2;
    }
}

@media (max-width:768px){
    #div_block-237-14 {
        order: 1;
        padding-bottom: 40%;
    }
}

@media (max-width:768px){
    #div_block-245-14 {
        order: 1;
        padding-bottom: 40%;
    }
}

@media (max-width:768px){
    #div_block-240-14 {
        order: 2;
    }
}

@media (max-width:992px){
    #new_columns-231-14> .ct-div-block {
        width: 100% !important;
    }
}

#new_columns-231-14 {
    flex-direction: row-reverse;
}

#new_columns-231-14 {
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    background-color: #eff4f7;
}

@media (max-width:992px){
    #new_columns-239-14> .ct-div-block {
        width: 100% !important;
    }
}

#new_columns-239-14 {
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    background-color: #eff4f7;
}

@media (max-width:992px){
    #new_columns-62-14> .ct-div-block {
        width: 100% !important;
    }
}

@media (max-width:992px){
    #new_columns-62-14> .ct-div-block {
        width: 100% !important;
    }
}

@media (max-width:992px){
    #new_columns-72-14> .ct-div-block {
        width: 100% !important;
    }
}

#new_columns-72-14 {
    height: 100%;
}

@media (max-width:992px){
    #new_columns-170-14> .ct-div-block {
        width: 100% !important;
    }
}

@media (max-width:992px){
    #new_columns-170-14> .ct-div-block {
        width: 100% !important;
    }
}

@media (max-width:768px){
    #new_columns-120-14> .ct-div-block {
        width: 50% !important;
    }
}

@media (max-width:480px){
    #new_columns-120-14> .ct-div-block {
        width: 100% !important;
    }

    #new_columns-120-14 {
        flex-direction: column;
    }
}

#new_columns-120-14 {
    max-height: 100px;
    margin-bottom: 0px;
    padding-top: 0px;
}

@media (max-width:992px){
    #new_columns-135-11> .ct-div-block {
        width: 100% !important;
    }
}

@media (max-width:992px){
    #new_columns-135-11> .ct-div-block {
        width: 100% !important;
    }
}

#headline-24-14 {
    margin-bottom: 11px;
}

#headline-108-14 {
    color: #566d8f;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0px;
}

#text_block-102-14 {
    font-size: 55px;
}

#text_block-7-14 {
    margin-bottom: 30px;
    font-size: 20px;
    margin-top: 0px;
}

#text_block-26-14 {
    margin-bottom: 22px;
}

#text_block-41-14 {
    margin-bottom: 10px;
}

#text_block-66-14 {
    margin-bottom: 35px;
}

#text_block-82-14 {
    margin-bottom: 18px;
    font-size: 16px;
    text-align: left;
    margin-top: 5px;
}

#text_block-93-14 {
    margin-bottom: 18px;
    font-size: 16px;
    margin-top: 2px;
    text-align: left;
}

#text_block-100-14 {
    margin-bottom: 18px;
    font-size: 16px;
    margin-top: 2px;
    text-align: left;
}

#text_block-146-11 {
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
    letter-spacing: 1.1px;
}

@media (max-width:992px){
    #text_block-102-14 {
        font-size: 50px;
    }
}

#link_button-15-14 {
}

#link_button-28-14 {
}

#link_button-45-14 {
}

#link_button-67-14 {
}

#image-86-4 {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 90px;
}

#image-35-14 {
    max-width: 100%;
    margin-top: 0px;
}

#image-79-14 {
    overflow: hidden;
    flex-direction: unset;
}

#image-90-14 {
    overflow: hidden;
    flex-direction: unset;
}

#image-97-14 {
    overflow: hidden;
    flex-direction: unset;
    padding-left: 5px;
    padding-right: 5px;
}

#image-207-14 {
    height: 150px;
}

#image-212-14 {
    height: 130px;
}

#image-122-14 {
    margin-right: 0px;
    margin-top: 1px;
}

#image-117-14 {
    margin-right: 0px;
}

#image-113-14 {
}

#image-126-14 {
    max-height: 60px;
    margin-left: 0px;
}

#image-124-14 {
    margin-left: 0px;
}

#image-115-14 {
}

#image-155-14 {
    margin-right: 0px;
}

#image-139-11 {
    height: 70px;
}

#video-238-14 >.oxygen-vsb-responsive-video-wrapper {
    padding-bottom: 56.25%;
}

#video-238-14 {
    padding-bottom: 0px;
    width: 100%;
}

#_nav_menu-15-4 .oxy-nav-menu-hamburger-line {
    background-color: #404040;
}

@media (max-width:992px){
    #_nav_menu-15-4 .oxy-nav-menu-list {
        display: none;
    }

    #_nav_menu-15-4 .oxy-menu-toggle {
        display: initial;
    }

    #_nav_menu-15-4.oxy-nav-menu.oxy-nav-menu-open .oxy-nav-menu-list {
        display: initial;
    }
}

#_nav_menu-15-4.oxy-nav-menu.oxy-nav-menu-open {
    margin-top: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin-bottom: 0 !important;
}

#_nav_menu-15-4.oxy-nav-menu.oxy-nav-menu-open .menu-item a {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

#_nav_menu-15-4 .oxy-nav-menu-hamburger-wrap {
    width: 18px;
    height: 18px;
}

#_nav_menu-15-4 .oxy-nav-menu-hamburger {
    width: 18px;
    height: 14px;
}

#_nav_menu-15-4 .oxy-nav-menu-hamburger-line {
    height: 2px;
    background-color: #eff4f7;
}

#_nav_menu-15-4.oxy-nav-menu-open .oxy-nav-menu-hamburger .oxy-nav-menu-hamburger-line:first-child {
    top: 6px;
}

#_nav_menu-15-4.oxy-nav-menu-open .oxy-nav-menu-hamburger .oxy-nav-menu-hamburger-line:last-child {
    top: -6px;
}

#_nav_menu-15-4 {
    margin-top: 0px;
    margin-right: 27px;
    font-family: 'Source Sans Pro';
}

#_nav_menu-15-4 .menu-item a {
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: #404040;
}

#_nav_menu-15-4.oxy-nav-menu:not(.oxy-nav-menu-open) .menu-item a {
    justify-content: center;
}

#_nav_menu-15-4.oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu .menu-item a {
    border: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

#_nav_menu-15-4:hover {
    border-top-color: #2b2c28;
    border-right-color: #2b2c28;
    border-bottom-color: #2b2c28;
    border-left-color: #2b2c28;
}

#_nav_menu-15-4.oxy-nav-menu:not(.oxy-nav-menu-open) .menu-item a:hover {
    justify-content: center;
}

#_nav_menu-15-4.oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu .menu-item a:hover {
    border: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

#_nav_menu-157-11 .oxy-nav-menu-hamburger-line {
    background-color: #ffffff;
}

@media (max-width:1120px){
    #_nav_menu-157-11 .oxy-nav-menu-list {
        display: none;
    }

    #_nav_menu-157-11 .oxy-menu-toggle {
        display: initial;
    }

    #_nav_menu-157-11.oxy-nav-menu.oxy-nav-menu-open .oxy-nav-menu-list {
        display: initial;
    }
}

#_nav_menu-157-11.oxy-nav-menu.oxy-nav-menu-open {
    margin-top: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin-bottom: 0 !important;
}

#_nav_menu-157-11.oxy-nav-menu.oxy-nav-menu-open .menu-item a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#_nav_menu-157-11 .oxy-nav-menu-hamburger-wrap {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#_nav_menu-157-11 .oxy-nav-menu-hamburger {
    width: 40px;
    height: 32px;
}

#_nav_menu-157-11 .oxy-nav-menu-hamburger-line {
    height: 6px;
}

#_nav_menu-157-11.oxy-nav-menu-open .oxy-nav-menu-hamburger .oxy-nav-menu-hamburger-line:first-child {
    top: 13px;
}

#_nav_menu-157-11.oxy-nav-menu-open .oxy-nav-menu-hamburger .oxy-nav-menu-hamburger-line:last-child {
    top: -13px;
}

#_nav_menu-157-11 {
    font-family: 'Source Sans Pro';
    letter-spacing: 1.1px;
}

#_nav_menu-157-11 .oxy-nav-menu-list {
    flex-direction: row;
}

#_nav_menu-157-11 .menu-item a {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    font-size: 14px;
}

#_nav_menu-157-11 .current-menu-item a {
    padding-top: 5px;
    border-top-width: 5px;
}

#_nav_menu-157-11.oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu .menu-item a {
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width:992px){
    #_nav_menu-15-4.oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu .menu-item a {
        border: 0;
    }
}

#_header-79-4.oxy-header-wrapper.oxy-header.oxy-sticky-header.oxy-sticky-header-active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2147483640;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

#_header-79-4.oxy-header.oxy-sticky-header-active .oxygen-hide-in-sticky {
    display: none;
}

#_header-79-4.oxy-header.oxy-header .oxygen-show-in-sticky-only {
    display: none;
}

#_header-79-4 {
    sticky-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.33);
}

#_header_row-80-4 .oxy-nav-menu-open,
#_header_row-80-4 .oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu {
    background-color: #ffffff;
}

#_header_row-80-4.oxy-header-row .oxy-header-container {
    max-width: 100%;
}

.oxy-header.oxy-sticky-header-active > #_header_row-80-4.oxygen-show-in-sticky-only {
    display: block;
}

#_header_row-80-4 {
    padding-right: 10px;
    background-color: #ffffff;
    padding-bottom: 0px;
}

#_social_icons-142-11.oxy-social-icons {
    flex-direction: row;
    margin-right: -18px;
    margin-bottom: -18px;
}

#_social_icons-142-11.oxy-social-icons a {
    font-size: 15px;
    margin-right: 18px;
    margin-bottom: 18px;
}

#_social_icons-142-11.oxy-social-icons a:hover {
}

#_social_icons-142-11.oxy-social-icons a svg {
    width: 1em;
    height: 1em;
    color: #ffffff;
}

#_social_icons-142-11.oxy-social-icons a:hover svg {
}

#_social_icons-142-11 {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 1px;
}

#widget-233-14 {
    paramsBase64: auto;
}

.ct-section-inner-wrap,
.oxy-header-container {
    max-width: 1120px;
}