#section-2-104 > .ct-section-inner-wrap {
    padding-top: 104px;
    padding-bottom: 35px;
}

#section-75-104 > .ct-section-inner-wrap {
    padding-top: 35px;
    padding-bottom: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-75-104 {
    text-align: center;
}

#section-20-104 > .ct-section-inner-wrap {
    padding-top: 93px;
}

#section-20-104 {
    background-color: #eff4f7;
}

#section-90-4 > .ct-section-inner-wrap {
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 12px;
}

#section-90-4 {
    background-color: #32667d;
}

@media (max-width:768px){
    #section-75-104 > .ct-section-inner-wrap {
        padding-top: 75px;
        padding-bottom: 80px;
    }
}

#div_block-46-4 {
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
    text-align: justify;
    display: flex;
    justify-content: flex-start;
}

#div_block-37-104 {
    margin-left: 27px;
}

#div_block-44-104 {
    width: 25%;
}

#div_block-50-104 {
    flex-direction: row;
    display: flex;
}

#div_block-45-104 {
    width: 25%;
}

#div_block-60-104 {
    flex-direction: row;
    display: flex;
}

#div_block-46-104 {
    width: 25%;
}

#div_block-57-104 {
    flex-direction: row;
    display: flex;
}

#div_block-47-104 {
    width: 25%;
}

#div_block-54-104 {
    flex-direction: row;
    display: flex;
}

#div_block-79-104 {
    width: 33.33%;
}

#div_block-80-104 {
    background-size: cover;
    background-repeat: no-repeat;
}

#div_block-84-104 {
    width: 33.33%;
}

#div_block-105-104 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 50%;
}

#div_block-89-104 {
    width: 33.34%;
}

#div_block-90-104 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 50%;
}

#div_block-23-104 {
    width: 50%;
}

#div_block-30-104 {
    width: 50%;
}

#div_block-34-104 {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-height: %;
    height: 100%;
    padding-bottom: 27px;
}

#div_block-161-11 {
    align-items: stretch;
    text-align: justify;
    width: 100%;
}

#div_block-136-11 {
    width: 10%;
    justify-content: flex-start;
}

#div_block-137-11 {
    width: 40%;
    flex-direction: row;
    display: flex;
    text-align: left;
    margin-left: 0px;
    padding-left: 50px;
    align-items: center;
}

#div_block-138-11 {
    width: 50.00%;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
}

@media (max-width:768px){
    #div_block-23-104 {
        padding-bottom: 0px;
    }
}

@media (max-width:768px){
    #div_block-30-104 {
        padding-top: 0px;
    }
}

@media (max-width:992px){
    #new_columns-43-104> .ct-div-block {
        width: 100% !important;
    }
}

#new_columns-43-104 {
    margin-left: 14px;
    margin-right: 1px;
    margin-top: 40px;
}

@media (max-width:992px){
    #new_columns-78-104> .ct-div-block {
        width: 100% !important;
    }
}

@media (max-width:992px){
    #new_columns-78-104> .ct-div-block {
        width: 100% !important;
    }
}

@media (max-width:992px){
    #new_columns-22-104> .ct-div-block {
        width: 100% !important;
    }
}

@media (max-width:992px){
    #new_columns-22-104> .ct-div-block {
        width: 100% !important;
    }
}

@media (max-width:992px){
    #new_columns-135-11> .ct-div-block {
        width: 100% !important;
    }
}

@media (max-width:992px){
    #new_columns-135-11> .ct-div-block {
        width: 100% !important;
    }
}

#headline-3-104 {
    margin-bottom: 46px;
    margin-left: 20px;
}

#headline-48-104 {
    font-size: 22px;
    color: #000000;
}

#headline-62-104 {
    font-size: 22px;
    color: #000000;
}

#headline-59-104 {
    font-size: 22px;
    color: #000000;
}

#headline-56-104 {
    font-size: 22px;
    color: #000000;
}

#headline-77-104 {
    margin-bottom: 48px;
    font-size: 50px;
}

#headline-21-104 {
    margin-bottom: 46px;
    margin-left: 20px;
}

#text_block-53-104 {
    font-size: 14px;
    margin-top: 12px;
    margin-left: 5px;
    text-align: left;
}

#text_block-66-104 {
    font-size: 14px;
    margin-top: 12px;
    margin-left: 5px;
    text-align: left;
}

#text_block-67-104 {
    font-size: 14px;
    margin-top: 12px;
    margin-left: 5px;
    text-align: left;
}

#text_block-68-104 {
    font-size: 14px;
    margin-top: 12px;
    margin-left: 5px;
}

#text_block-146-11 {
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
    letter-spacing: 1.1px;
}

#_rich_text-123-104 {
    margin-top: 0px;
}

#link_text-168-11 {
    margin-left: 42px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 2px;
    letter-spacing: 1px;
    color: #fff;
}

#link_text-168-11:hover {
    color: #ff8e00;
}

#link_button-35-104 {
    background-color: transparent;
    border: 1px solid #ff8e00;
    color: #ff8e00;
    padding: 14px 23px;
}

#link_button-35-104 {
    margin-left: 0px;
    margin-top: 14px;
    bottom: 0px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
}

#image-86-4 {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 90px;
}

#image-115-104 {
    height: 250px;
    border-top-color: #737373;
    border-right-color: #737373;
    border-bottom-color: #737373;
    border-left-color: #737373;
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    box-shadow: 8px 9px 26px rgba(153,153,153,0.5);
}

#image-107-104 {
    height: 250px;
    box-shadow: 8px 9px 26px 0px rgba(153,153,153,0.5);
}

#image-102-104 {
    height: 250px;
    box-shadow: 8px 9px 26px rgba(153,153,153,0.5);
}

#image-139-11 {
    height: 70px;
}

#fancy_icon-51-104 {
    color: #32667d;
}

#fancy_icon-51-104>svg {
    width: 21px;
    height: 21px;
}

#fancy_icon-51-104 {
    margin-right: 7px;
    margin-left: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
}

#fancy_icon-61-104 {
    color: #ff8e00;
}

#fancy_icon-61-104>svg {
    width: 21px;
    height: 21px;
}

#fancy_icon-61-104 {
    margin-right: 7px;
    margin-left: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
}

#fancy_icon-58-104 {
    color: #9900cc;
}

#fancy_icon-58-104>svg {
    width: 21px;
    height: 21px;
}

#fancy_icon-58-104 {
    margin-right: 7px;
    margin-left: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
}

#fancy_icon-55-104 {
    color: #33cc00;
}

#fancy_icon-55-104>svg {
    width: 21px;
    height: 21px;
}

#fancy_icon-55-104 {
    margin-right: 7px;
    margin-left: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
}

#fancy_icon-24-104 {
}

#fancy_icon-27-104 {
}

#fancy_icon-31-104 {
    color: #566d8f;
}

#fancy_icon-31-104>svg {
    width: 30px;
    height: 30px;
}

#fancy_icon-31-104 {
    margin-bottom: 26px;
}

#_nav_menu-15-4 .oxy-nav-menu-hamburger-line {
    background-color: #404040;
}

@media (max-width:992px){
    #_nav_menu-15-4 .oxy-nav-menu-list {
        display: none;
    }

    #_nav_menu-15-4 .oxy-menu-toggle {
        display: initial;
    }

    #_nav_menu-15-4.oxy-nav-menu.oxy-nav-menu-open .oxy-nav-menu-list {
        display: initial;
    }
}

#_nav_menu-15-4.oxy-nav-menu.oxy-nav-menu-open {
    margin-top: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin-bottom: 0 !important;
}

#_nav_menu-15-4.oxy-nav-menu.oxy-nav-menu-open .menu-item a {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

#_nav_menu-15-4 .oxy-nav-menu-hamburger-wrap {
    width: 18px;
    height: 18px;
}

#_nav_menu-15-4 .oxy-nav-menu-hamburger {
    width: 18px;
    height: 14px;
}

#_nav_menu-15-4 .oxy-nav-menu-hamburger-line {
    height: 2px;
    background-color: #eff4f7;
}

#_nav_menu-15-4.oxy-nav-menu-open .oxy-nav-menu-hamburger .oxy-nav-menu-hamburger-line:first-child {
    top: 6px;
}

#_nav_menu-15-4.oxy-nav-menu-open .oxy-nav-menu-hamburger .oxy-nav-menu-hamburger-line:last-child {
    top: -6px;
}

#_nav_menu-15-4 {
    margin-top: 0px;
    margin-right: 27px;
    font-family: 'Source Sans Pro';
}

#_nav_menu-15-4 .menu-item a {
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: #404040;
}

#_nav_menu-15-4.oxy-nav-menu:not(.oxy-nav-menu-open) .menu-item a {
    justify-content: center;
}

#_nav_menu-15-4.oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu .menu-item a {
    border: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

#_nav_menu-15-4:hover {
    border-top-color: #2b2c28;
    border-right-color: #2b2c28;
    border-bottom-color: #2b2c28;
    border-left-color: #2b2c28;
}

#_nav_menu-15-4.oxy-nav-menu:not(.oxy-nav-menu-open) .menu-item a:hover {
    justify-content: center;
}

#_nav_menu-15-4.oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu .menu-item a:hover {
    border: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

#_nav_menu-157-11 .oxy-nav-menu-hamburger-line {
    background-color: #ffffff;
}

@media (max-width:480px){
    #_nav_menu-157-11 .oxy-nav-menu-list {
        display: none;
    }

    #_nav_menu-157-11 .oxy-menu-toggle {
        display: initial;
    }

    #_nav_menu-157-11.oxy-nav-menu.oxy-nav-menu-open .oxy-nav-menu-list {
        display: initial;
    }
}

#_nav_menu-157-11.oxy-nav-menu.oxy-nav-menu-open {
    margin-top: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin-bottom: 0 !important;
}

#_nav_menu-157-11.oxy-nav-menu.oxy-nav-menu-open .menu-item a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#_nav_menu-157-11 .oxy-nav-menu-hamburger-wrap {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#_nav_menu-157-11 .oxy-nav-menu-hamburger {
    width: 40px;
    height: 32px;
}

#_nav_menu-157-11 .oxy-nav-menu-hamburger-line {
    height: 6px;
}

#_nav_menu-157-11.oxy-nav-menu-open .oxy-nav-menu-hamburger .oxy-nav-menu-hamburger-line:first-child {
    top: 13px;
}

#_nav_menu-157-11.oxy-nav-menu-open .oxy-nav-menu-hamburger .oxy-nav-menu-hamburger-line:last-child {
    top: -13px;
}

#_nav_menu-157-11 {
    font-family: 'Source Sans Pro';
    letter-spacing: 1.1px;
}

#_nav_menu-157-11 .oxy-nav-menu-list {
    flex-direction: row;
}

#_nav_menu-157-11 .menu-item a {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    font-size: 14px;
}

#_nav_menu-157-11 .current-menu-item a {
    padding-top: 5px;
    border-top-width: 5px;
}

#_nav_menu-157-11.oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu .menu-item a {
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width:992px){
    #_nav_menu-15-4.oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu .menu-item a {
        border: 0;
    }
}

#_header-79-4.oxy-header-wrapper.oxy-header.oxy-sticky-header.oxy-sticky-header-active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2147483640;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

#_header-79-4.oxy-header.oxy-sticky-header-active .oxygen-hide-in-sticky {
    display: none;
}

#_header-79-4.oxy-header.oxy-header .oxygen-show-in-sticky-only {
    display: none;
}

#_header-79-4 {
    sticky-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.33);
}

#_header_row-80-4 .oxy-nav-menu-open,
#_header_row-80-4 .oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu {
    background-color: #ffffff;
}

#_header_row-80-4.oxy-header-row .oxy-header-container {
    max-width: 100%;
}

.oxy-header.oxy-sticky-header-active > #_header_row-80-4.oxygen-show-in-sticky-only {
    display: block;
}

#_header_row-80-4 {
    padding-right: 10px;
    background-color: #ffffff;
    padding-bottom: 0px;
}

#_social_icons-142-11.oxy-social-icons {
    flex-direction: row;
    margin-right: -18px;
    margin-bottom: -18px;
}

#_social_icons-142-11.oxy-social-icons a {
    font-size: 15px;
    margin-right: 18px;
    margin-bottom: 18px;
}

#_social_icons-142-11.oxy-social-icons a:hover {
}

#_social_icons-142-11.oxy-social-icons a svg {
    width: 1em;
    height: 1em;
    color: #ffffff;
}

#_social_icons-142-11.oxy-social-icons a:hover svg {
}

#_social_icons-142-11 {
    padding-top: 9px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 38px;
}

#widget-163-11 {
    paramsBase64: auto;
}

#widget-116-104 {
    paramsBase64: auto;
}

.ct-section-inner-wrap,
.oxy-header-container {
    max-width: 1120px;
}