#section-3-74>.ct-section-inner-wrap {
    padding-bottom: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-3-74 {
    border-bottom-style: none;
    border-bottom-width: 1px;
    border-bottom-color: #6799b2;
    text-align: center;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    margin-bottom: 24px;
}

#section-161-74>.ct-section-inner-wrap {
    padding-top: 58px;
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-161-74 {
    text-align: center;
}

#section-90-4>.ct-section-inner-wrap {
    padding-top: 0;
    padding-bottom: 12px;
}

#section-90-4 {
    background-color: #32667d;
}

#div_block-46-4 {
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
    text-align: justify;
    display: flex;
    justify-content: flex-start;
}

#div_block-151-74 {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    text-align: justify;
    width: 70%;
    margin-bottom: 48px;
    margin-top: 14px;
}

#div_block-160-74 {
    margin-bottom: 16px;
}

#div_block-172-74 {
    flex-direction: row;
    display: flex;
    margin-bottom: 24px;
}

#div_block-176-74 {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    display: flex;
    height: 65px;
}

#div_block-7-74 {
    width: 20%;
}

#div_block-77-74 {
    width: 20%;
}

#div_block-11-74 {
    width: 20%;
    margin-top: 0px;
}

#div_block-15-74 {
    width: 20.00%;
}

#div_block-19-74 {
    width: 20%;
}

#div_block-81-74 {
    width: 20%;
}

#div_block-84-74 {
    width: 20%;
}

#div_block-87-74 {
    width: 20%;
}

#div_block-90-74 {
    width: 20%;
}

#div_block-93-74 {
    width: 20.00%;
}

#div_block-97-74 {
    width: 20%;
}

#div_block-100-74 {
    width: 20%;
}

#div_block-103-74 {
    width: 20%;
}

#div_block-106-74 {
    width: 20%;
}

#div_block-109-74 {
    width: 20.00%;
}

#div_block-113-74 {
    width: 20.00%;
}

#div_block-116-74 {
    width: 20.00%;
}

#div_block-119-74 {
    width: 20%;
}

#div_block-122-74 {
    width: 20.00%;
}

#div_block-125-74 {
    width: 20.00%;
}

#div_block-129-74 {
    width: 20.00%;
}

#div_block-132-74 {
    width: 20.00%;
}

#div_block-135-74 {
    width: 20.00%;
}

#div_block-138-74 {
    width: 20.00%;
}

#div_block-141-74 {
    width: 20.00%;
}

#div_block-177-74 {
    flex-direction: row;
    display: flex;
    margin-top: 23px;
}

#div_block-179-74 {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    display: flex;
    height: 65px;
}

#div_block-197-74 {
    flex-direction: row;
    display: flex;
    margin-top: 28px;
    justify-content: space-around;
    text-align: justify;
    width: 100%;
}

#div_block-205-74 {
    align-items: center;
    text-align: center;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #ff8e00;
    border-right-color: #ff8e00;
    border-bottom-color: #ff8e00;
    border-left-color: #ff8e00;
    border-top-width: 02px;
    border-right-width: 02px;
    border-bottom-width: 02px;
    border-left-width: 02px;
    width: %;
}

#div_block-212-74 {
    align-items: center;
    text-align: center;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #ff8e00;
    border-right-color: #ff8e00;
    border-bottom-color: #ff8e00;
    border-left-color: #ff8e00;
    border-top-width: 02px;
    border-right-width: 02px;
    border-bottom-width: 02px;
    border-left-width: 02px;
    width: %;
}

#div_block-161-11 {
    align-items: stretch;
    text-align: justify;
    width: 100%;
}

#div_block-136-11 {
    width: 10%;
    justify-content: flex-start;
}

#div_block-137-11 {
    width: 40%;
    flex-direction: column;
    display: flex;
    text-align: left;
    margin-left: 0px;
    padding-left: 87px;
}

#div_block-138-11 {
    width: 50.00%;
    justify-content: center;
}

@media (max-width:992px) {
    #new_columns-6-74>.ct-div-block {
        width: 50% !important;
    }
}

@media (max-width:768px) {
    #new_columns-6-74>.ct-div-block {
        width: 100% !important;
    }

    #new_columns-6-74 {
        flex-direction: column;
    }
}

@media (max-width:992px) {
    #new_columns-80-74>.ct-div-block {
        width: 50% !important;
    }
}

@media (max-width:768px) {
    #new_columns-80-74>.ct-div-block {
        width: 100% !important;
    }

    #new_columns-80-74 {
        flex-direction: column;
    }
}

@media (max-width:992px) {
    #new_columns-96-74>.ct-div-block {
        width: 50% !important;
    }
}

@media (max-width:768px) {
    #new_columns-96-74>.ct-div-block {
        width: 100% !important;
    }

    #new_columns-96-74 {
        flex-direction: column;
    }
}

@media (max-width:992px) {
    #new_columns-112-74>.ct-div-block {
        width: 50% !important;
    }
}

@media (max-width:768px) {
    #new_columns-112-74>.ct-div-block {
        width: 100% !important;
    }

    #new_columns-112-74 {
        flex-direction: column;
    }
}

@media (max-width:992px) {
    #new_columns-128-74>.ct-div-block {
        width: 50% !important;
    }
}

@media (max-width:768px) {
    #new_columns-128-74>.ct-div-block {
        width: 100% !important;
    }

    #new_columns-128-74 {
        flex-direction: column;
    }
}

@media (max-width:992px) {
    #new_columns-135-11>.ct-div-block {
        width: 100% !important;
    }
}

@media (max-width:992px) {
    #new_columns-135-11>.ct-div-block {
        width: 100% !important;
    }
}

#headline-4-74 {
    margin-bottom: 26px;
}

#headline-169-74 {
    font-size: 40px;
    margin-bottom: 0px;
}

#headline-180-74 {
    font-size: 40px;
    margin-bottom: 0px;
}

#headline-206-74 {
    font-size: 22px;
    color: #52565a;
}

#headline-214-74 {
    font-size: 22px;
    color: #52565a;
}

@media (max-width:768px) {
    #headline-4-74 {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width:768px) {
    #headline-169-74 {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width:768px) {
    #headline-180-74 {
        margin-left: 20px;
        margin-right: 20px;
    }
}

#text_block-5-74 {
    margin-bottom: 30px;
    font-size: 18px;
    width: 800px;
    text-align: center;
}

#text_block-146-11 {
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
    letter-spacing: 1.1px;
}

@media (max-width:768px) {
    #text_block-5-74 {
        margin-left: 20px;
        margin-right: 20px;
    }
}

#link-189-74 {
    flex-direction: row;
    text-align: center;
    display: flex;
}

#link-191-74 {
    width: 250px;
}

#link-211-74 {
    width: 250px;
}

#link_button-149-74 {
    background-color: #1e73be;
    border: 1px solid #1e73be;
}

#link_button-149-74 {
    margin-bottom: 21px;
    width: 150px;
}

#image-86-4 {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 90px;
}

#image-154-74 {
    box-shadow: 8px 9px 26px rgba(0, 0, 0, 0.1);
    max-height: 150px;
}

#image-155-74 {
    box-shadow: 8px 9px 26px rgba(0, 0, 0, 0.1);
    max-height: 150px;
}

#image-173-74 {
    height: 65px;
    margin-right: 9px;
}

#image-178-74 {
    height: 65px;
    margin-right: 9px;
}

#image-192-74 {
    height: 150px;
    width: 250px;
}

#image-213-74 {
    height: 150px;
    width: 250px;
}

#image-139-11 {
    height: 70px;
}

#_nav_menu-15-4 .oxy-nav-menu-hamburger-line {
    background-color: #404040;
}

@media (max-width:992px) {
    #_nav_menu-15-4 .oxy-nav-menu-list {
        display: none;
    }

    #_nav_menu-15-4 .oxy-menu-toggle {
        display: initial;
    }

    #_nav_menu-15-4.oxy-nav-menu.oxy-nav-menu-open .oxy-nav-menu-list {
        display: initial;
    }
}

#_nav_menu-15-4.oxy-nav-menu.oxy-nav-menu-open {
    margin-top: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin-bottom: 0 !important;
}

#_nav_menu-15-4.oxy-nav-menu.oxy-nav-menu-open .menu-item a {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

#_nav_menu-15-4 .oxy-nav-menu-hamburger-wrap {
    width: 18px;
    height: 18px;
}

#_nav_menu-15-4 .oxy-nav-menu-hamburger {
    width: 18px;
    height: 14px;
}

#_nav_menu-15-4 .oxy-nav-menu-hamburger-line {
    height: 2px;
    background-color: #eff4f7;
}

#_nav_menu-15-4.oxy-nav-menu-open .oxy-nav-menu-hamburger .oxy-nav-menu-hamburger-line:first-child {
    top: 6px;
}

#_nav_menu-15-4.oxy-nav-menu-open .oxy-nav-menu-hamburger .oxy-nav-menu-hamburger-line:last-child {
    top: -6px;
}

#_nav_menu-15-4 {
    margin-top: 0px;
    margin-right: 27px;
    font-family: 'Source Sans Pro';
}

#_nav_menu-15-4 .menu-item a {
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: #404040;
}

#_nav_menu-15-4.oxy-nav-menu:not(.oxy-nav-menu-open) .menu-item a {
    justify-content: center;
}

#_nav_menu-15-4.oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu .menu-item a {
    border: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

#_nav_menu-15-4:hover {
    border-top-color: #2b2c28;
    border-right-color: #2b2c28;
    border-bottom-color: #2b2c28;
    border-left-color: #2b2c28;
}

#_nav_menu-15-4.oxy-nav-menu:not(.oxy-nav-menu-open) .menu-item a:hover {
    justify-content: center;
}

#_nav_menu-15-4.oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu .menu-item a:hover {
    border: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

#_nav_menu-157-11 .oxy-nav-menu-hamburger-line {
    background-color: #ffffff;
}

@media (max-width:1120px) {
    #_nav_menu-157-11 .oxy-nav-menu-list {
        display: none;
    }

    #_nav_menu-157-11 .oxy-menu-toggle {
        display: initial;
    }

    #_nav_menu-157-11.oxy-nav-menu.oxy-nav-menu-open .oxy-nav-menu-list {
        display: initial;
    }
}

#_nav_menu-157-11.oxy-nav-menu.oxy-nav-menu-open {
    margin-top: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin-bottom: 0 !important;
}

#_nav_menu-157-11.oxy-nav-menu.oxy-nav-menu-open .menu-item a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#_nav_menu-157-11 .oxy-nav-menu-hamburger-wrap {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#_nav_menu-157-11 .oxy-nav-menu-hamburger {
    width: 40px;
    height: 32px;
}

#_nav_menu-157-11 .oxy-nav-menu-hamburger-line {
    height: 6px;
}

#_nav_menu-157-11.oxy-nav-menu-open .oxy-nav-menu-hamburger .oxy-nav-menu-hamburger-line:first-child {
    top: 13px;
}

#_nav_menu-157-11.oxy-nav-menu-open .oxy-nav-menu-hamburger .oxy-nav-menu-hamburger-line:last-child {
    top: -13px;
}

#_nav_menu-157-11 {
    font-family: 'Source Sans Pro';
    letter-spacing: 1.1px;
}

#_nav_menu-157-11 .oxy-nav-menu-list {
    flex-direction: row;
}

#_nav_menu-157-11 .menu-item a {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    font-size: 14px;
}

#_nav_menu-157-11 .current-menu-item a {
    padding-top: 5px;
    border-top-width: 5px;
}

#_nav_menu-157-11.oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu .menu-item a {
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width:992px) {
    #_nav_menu-15-4.oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu .menu-item a {
        border: 0;
    }
}

#_header-79-4.oxy-header-wrapper.oxy-header.oxy-sticky-header.oxy-sticky-header-active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2147483640;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

#_header-79-4.oxy-header.oxy-sticky-header-active .oxygen-hide-in-sticky {
    display: none;
}

#_header-79-4.oxy-header.oxy-header .oxygen-show-in-sticky-only {
    display: none;
}

#_header-79-4 {
    sticky-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.33);
}

#_header_row-80-4 .oxy-nav-menu-open,
#_header_row-80-4 .oxy-nav-menu:not(.oxy-nav-menu-open) .sub-menu {
    background-color: #ffffff;
}

#_header_row-80-4.oxy-header-row .oxy-header-container {
    max-width: 100%;
}

.oxy-header.oxy-sticky-header-active>#_header_row-80-4.oxygen-show-in-sticky-only {
    display: block;
}

#_header_row-80-4 {
    padding-right: 10px;
    background-color: #ffffff;
    padding-bottom: 0px;
}

#_social_icons-142-11.oxy-social-icons {
    flex-direction: row;
    margin-right: -18px;
    margin-bottom: -18px;
}

#_social_icons-142-11.oxy-social-icons a {
    font-size: 15px;
    margin-right: 18px;
    margin-bottom: 18px;
}

#_social_icons-142-11.oxy-social-icons a:hover {
}

#_social_icons-142-11.oxy-social-icons a svg {
    width: 1em;
    height: 1em;
    color: #ffffff;
}

#_social_icons-142-11.oxy-social-icons a:hover svg {
}

#_social_icons-142-11 {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 1px;
}

#widget-215-74 {
    paramsBase64: auto;
}

.ct-section-inner-wrap,
.oxy-header-container {
    max-width: 1120px;
}